.support-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../assets/blank background.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.support-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card1 {
  margin: 20px;
  border: 2px solid #ff0000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card2 {
  margin: 20px;
  border: 2px solid #ffe600;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card3 {
  margin: 20px;
  border: 2px solid #0004ff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card4 {
  margin: 20px;
  border: 2px solid #00ff0d;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-label {
  padding: 10px;
  text-align: center;
  background-color: #353131;
  color: #ffffff;
  font-weight: bold;
}
